<?php   // environment_dev.config

//
return [
    // DB設定
    'db' => [
        'type' => 'mysql',  // 今回は使わないけど、とりあえず
        'user' => 'AccountBooks2021',
        'pass' => 'AccountBooks2021',
        'host' => 'localhost',
        'dbname' => 'AccountBooks2021',
        'charset' => 'utf8mb4',
    ],
];