{# index.twig #}
{% extends 'layout.twig' %}

{% block body %}
<h1>非ログイン TopPage</h1>

<h2>ログイン</h2>
{% if login_error == true %}<div>ログインでエラーが発生しました</div>{% endif %}
<form action="./login.php" method="POST">
email: <input name="email" value="{{login_email}}"><br>
パスワード: <input name="pw" type="password"><br>
<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
<button>ログイン</button>
</form>

<a href="./password_reset.html">パスワードを忘れた方はこちら</a>

<h2>会員登録</h2>

<a href="./register.php">会員登録はこちら</a>
{% endblock %}
